<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" ref="../css/style.css"/>
</head>
<body style="background: #ffffff">
<h1>list</h1>
<div>
    <a th:href="@{/provider/add}">
        <button>增加供应商</button>
    </a>
    <table class="providerTable">
        <tr class="firstTr">
            <th width="10%">供应商编码</th>
            <th width="20%">供应商名称</th>
            <th width="10%">联系人</th>
            <th width="10%">联系电话</th>
            <th width="10%">传真</th>
            <th width="10%">创建时间</th>
            <th width="30%">操作</th>
        </tr>
        <tr th:each="p : ${providers}">
            <td th:text="${p.pid}">pid</td>
            <td th:text="${p.providerName}">providerName</td>
            <td th:text="${p.people}">people</td>
            <td th:text="${p.phone}">phone</td>
            <td th:text="${p.fax}">fax</td>
            <td th:text="${#dates.format(p.createDate, 'yyyy-MM-dd')}">createDate</td>
            <td>
                <a th:href="@{/provider/}+${p.pid}"><img th:src="@{/img/read.png}" alt="查看" title="查看"/></a>
                <a th:href="@{/provider/}+${p.pid}+'?type=update'"><img th:src="@{/img/xiugai.png}" alt="修改" title="修改"/></a>
                <a th:href="@{/delete//provider/}+${p.pid}"><img th:src="@{/img/schu.png}" alt="删除" title="删除"/></a>
            </td>
        </tr>
    </table>
    <div>
        <a th:href="@{/main/main}">
            <button>返回</button>
        </a>
    </div>
</div>
</body>
</html>